page-home {
  .storyCard {
    background-color: #fff;
    padding: .57143rem;
    overflow: hidden;
    display: block;
    color: #000;
    -webkit-box-shadow: 0 12px 34px rgba(0,0,0,.07);
    box-shadow: 0 12px 34px rgba(0,0,0,.07);
    -webkit-transition: background-color .3s ease-in-out;
    transition: background-color .3s ease-in-out;
    position: relative;
    margin: 0 1.42857rem 2.28571rem;

    img {
      width: 100%;
    }
  }

  .storyCard__tag {
    position: absolute;
    right: 1.85714rem;
    top: 0;
    background-color: #d8232a;
    text-transform: uppercase;
    font-weight: 700;
    padding: .71429rem;
    color: #fff;
    line-height: 1;
    z-index: 2;
  }

  .home-storyCards__content {
    padding: 1.42857rem .85714rem 1.28571rem .85714rem;
  }

  .storyCard__title {
    font-size: 20px;
    margin-top: 0;
    line-height: 1.3;
  }
}
