<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="cardOverview">
  <div class="grid">
    <a *ngFor="let post of posts" (click)="show(post)" class="storyCard storyCard--alt storyCard--story grid-item">
      <div class="storyCard__imgWrapper">
        <img class="storyCard__img" src="{{ post.image }}">
      </div>
      <div class="storyCard__content home-storyCards__content">
        <span class="storyCard__tag">Verhaal</span>

        <h2 class="storyCard__title">{{ post.title }}</h2>

        <div class="storyCard__readMore home-storyCards__readMore">
          <span class="storyCard__readMoreText">Bekijk verhaal</span>
          <i class="storyCard__fa fa fa-angle-right"></i>
        </div>
      </div>
    </a>
  </div>
</ion-content>
