<ion-header>
  <ion-navbar>
    <ion-title *ngIf="post">{{ post.title }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="detail">
  <img src="{{ post.image }}" *ngIf="post" />
  <div class="content" [innerHtml]="post.content" *ngIf="post">

  </div>
</ion-content>